:root{
  background-color: #A8583C;
}
body{
  margin: 0%;
}

/*LANGUAGE SELECTOR STYLES*/
.LanguageSelector{
  font-size: 20px;
  padding: 10px 15px;
  font-weight: bold;
  line-height: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
  z-index: 10;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border: 0px none none;
  cursor: pointer;
  text-transform: uppercase;
}
.selected{
  display: flex;
  gap: 10px;
  align-items: center;
}
.selected img{
  width: 35px;
}
.dropdown img{
  width: 35px;
}
.option{
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease;
  text-transform: capitalize;
  font-weight: lighter;
}
.option:hover{
  background-color: #444;
  color: white;
  transition: all 0.3s ease;
}





/* HERO STYLES */
.HeroContainer{
  max-width: 100%;
  position: relative;
  min-height: 500px; 
  
}
.HeroBackground,
.HeroBackground img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.HeroBackground::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%; /* puedes ajustar esto para más/menos degradado */
  width: 100%;
  background: linear-gradient(to top, #A8583C, transparent);
  z-index: 1;
  pointer-events: none;
}
.Content{
  text-align: center;
}
.Content >:nth-child(1){
  max-width: 210px;
  max-height: 210px;
}
.Content >:nth-child(2){
  font-family: "Baloo Bhai 2", 'Verdana', Sans-serif;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: -10px;
  font-size: 10px;
  font-weight: 900;
  color: white;
  line-height: 1;
}
.Content >:nth-child(3){
  font-family: "Baloo 2", 'Verdana', Sans-serif;
  max-width: 749px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 500;
  color: white;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 30px;
}
.Content >:nth-child(4){
  font-family: "Raleway", 'Arial', Sans-serif;
  background-color: #315C52;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.8px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  padding: 0px 40px 0px 40px;
  color: white;
  border: 3px white solid;
  cursor: pointer;
  line-height: 1;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}
.Content button img{
   width: auto;
  height: auto;
  max-width: 100%;
}
.Content button{
  margin: auto;
  margin-bottom: -10px;
}
.Content >:nth-child(4):hover{
  background-color: #C5A221;
  transition: all 0.4s ease;
  border: 3px #C5A221 solid ;
  
}
.Content >:nth-child(5){
  font-family: "Roboto", 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: white;
}
.Content >:nth-child(6){
  max-width: 800px;
}

/* GENERAL MOBILE RESPONSIVE DESIGN */
@media only screen and (max-width: 767px) {
    /* Estilos para móviles */
    .Content >:nth-child(2){
      font-size: 30px;
    }
  
}

